<div class="container">

  <div class="d-flex barframe my-3 justify-content-center">
    <%= form_tag users_path, method: :get, class: "form-inline searchbar" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control", id:"searchbar",
      placeholder: "ðŸ” Find new buddies!"
      %>
      <div class="child">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <% if params[:query].present? %>
      <% @users.each do |user| %>
      <div class="card-buddy col-7 mt-3">
        <div>
          <%= link_to user_path(user) do %>
          <% if user.photo.blank? %>
            <%= cl_image_tag("avatar-default", :radius=>50) %>
          <% else %>
            <%= cl_image_tag user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face %>
          <% end %>
        <% end %>
        </div>
        <div class="card-buddy-infos d-flex">
          <div>
            <%= link_to user_path(user) do %>
            <h2><%= user.first_name %> <%= user.last_name %></h2>
          <% end %>
          </div>
            <div>
            <% fetch = Request.find_by(sender_id: current_user.id, receiver_id: user.id).present? || Request.find_by(sender_id: user.id, receiver_id: current_user.id) %>
            <% if fetch.nil? %>
              <%= link_to cl_image_tag("pictograms/buddy-empty"), user_requests_path(user), method: :post %>
            <% else %>
              <a><%= cl_image_tag("pictograms/buddy-filled") %></a>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

