<div class="container">
  <div class="row d-flex flex-fow mt-5">
    <% @favourites.each do |watch| %>
      <a href="<%= medium_path(watch.medium) %>" class="cards col-6 my-2 text-decoration-none text-reset">
        <div class="d-flex card-fav justify-content-between">
          <img src="<%= watch.medium.poster %>" style="max-height: 300px;"/>
          <div class="card-fav-infos">
            <h2 class="card-title pt-3"><strong><%= watch.medium.title %></strong></h2>
            <p class="card-text">Rating: <%= watch.medium.rating %></p>
            <p class="card-text"><%= watch.medium.description %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>

