<div class="container">
  <div class="row justify-content-center">
    <div class="col-7">
      <%= @favourites.each do |watch| %>
        <div class="card-watch border">
        <img class="card-img-top" src="<%= watch.medium.poster %>" />
          <div class="card-watch-infos">
          <h2 class="card-title"><%= watch.medium.title %></h2>
            <p class="mx-1"><%= watch.medium.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<%= link_to "Back to My Profile", profile_path(current_user), class: "btn-round" %>

