<% if !user_signed_in? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485231097004-9272d2b5b75d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
  <h1>WatchBuddy brings all the movies and series you've watched to <u>one place!</u></h1>
    <p>Create your own watchlist and get the best recommendations of the movies <br> based on your taste and your friends' ratings!</p>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-outline-spacegreen" %>
  </div>
</div>
<% end %>
  <h1 class="mt-5" style="text-align: center;"><strong>YOUR BEST CHOICES</strong></h1>
  <div class="container d-flex">
    <div class= "mt-2">
      <h1 class= "ml-3 mb-3" style="text-align: center"><strong>MOVIES</strong></h1>
      <div class="container d-flex flex-row flex-wrap justify-content-center">
        <% movie_media = Medium.where(media_type: "movie") %>
        <% movies = user_signed_in? ? @recs_movie : movie_media.sample(4) %>
        <% movies.each do |medium| %>
        <div class="movieposter position-relative">
          <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
            <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
            <div class="popup">
              <p class="card-title"><%= medium.title %></p>
              <p class="card-text"><img src="https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" alt="star"> <%= medium.rating %></p>
            </div>
          </a>
          <!-- the and sign is the safe navigator operator, only runs if what comes before is not nil -->
          <% image_tag = Watch.find_by(user: current_user, medium: medium)&.favourite ? "pictograms/diamond-heart-purplebright" : "pictograms/diamond-heart-empty" %>
          <%= link_to cl_image_tag(image_tag), like_path(medium), { :id => "#{medium.id}", :class => "button-favorite position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'favorite' }  %>
          <% image_tag = Watch.find_by(user: current_user, medium: medium)&.watchlist ? "pictograms/watchlist-filled-metallic" : "pictograms/watchlist-empty" %>
          <%= link_to cl_image_tag(image_tag), watchlist_path(medium), { :id => "#{medium.id}", :class => "button-watchlist position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'watchlist' } %>
        </div>
       <!--  tippy.js -->
      <% end %>
    </div>
  </div>
  <div class= "mt-2">
    <h1 class= "ml-3 mb-3" style="text-align: center"><strong>SERIES</strong></h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        <% tv_media = Medium.where(media_type: "tv") %>
        <% shows = user_signed_in? ? @recs_tv : tv_media.sample(4) %>
        <% shows.each do |medium| %>
        <div class="movieposter position-relative">
          <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
          <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
          <p class="card-text"><img src="https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" alt="star"> <%= medium.rating %></p>
        </div>
          </a>
            <% image_tag = Watch.find_by(user: current_user, medium: medium)&.favourite ? "pictograms/diamond-heart-purplebright" : "pictograms/diamond-heart-empty" %>
            <%= link_to cl_image_tag(image_tag), like_path(medium), { :id => "#{medium.id}", :class => "button-favorite position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'favorite' } %>
            <% image_tag = Watch.find_by(user: current_user, medium: medium)&.watchlist ? "pictograms/watchlist-filled-metallic" : "pictograms/watchlist-empty" %>
            <%= link_to cl_image_tag(image_tag), watchlist_path(medium), { :id => "#{medium.id}", :class => "button-watchlist position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'watchlist' } %>
          </div>
        <% end %>
      </div>
  </div>
</div>
<div>
  <% if user_signed_in? %>
    <% unless @friend_recs.empty? %>
      <div class= "mt-2">
        <h1 class= "ml-3 mt-5 mb-3" style="text-align: center"><strong>Your friends recently watched:</strong></h1>
        <div class="container d-flex flex-row flex-wrap justify-content-center">
          <% @friend_recs.each do |hash| %>
            <div class="card col-5 align-items-center border d-flex flex-row" style="height: 170px; margin-left: 10px; margin-top: 10px;">
              <a class="buddyimg" href="<%= user_path(hash[:user]) %>">
                <img class="card-img-top align-middle" src="
                  <% if hash[:user].photo.blank? %>
                    https://clipartart.com/images/login-background-images-clipart-1.jpg
                  <% else %>
                    <%= cl_image_path hash[:user].photo.key, width: 150, height: 150, crop: :fill%>
                  <% end %>
                  " alt="Card image cap">
              </a>
              <div>
                <div style="margin-left: 10px; margin-bottom: 17px; margin-top: -12px;">
                  <%= hash[:user].first_name + ' ' + hash[:user].last_name %>
                </div>
                <div class="d-flex flex-row" style="margin-left: 10px;">
                  <% hash[:media].reverse.each do |medium| %>
                    <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
                      <img class="homefriendcard card-img-top" style="height: 100%; object-fit: cover;" src="<%= medium.poster %>">
                      <div class="popup">
                        <p class="card-title"><%= medium.title %></p>
                        <p class="card-text"><img src="https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" alt="star"> <%= medium.rating %></p>
                      </div>
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!--      <button type="button" class="btn btn-outline-spacegreen">Rate Me</button> -->
