<div class="container d-flex">
  <div class= "mt-2">
    <h1 class= "ml-3 mt-3 mb-3" style="text-align: center"><strong>MOVIES</strong></h1>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
<!--     <% media = Medium.where(media_type: "movie") %> -->
    <% @media.sample(4).each do |medium| %>
    <div class="movieposter position-relative">
      <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
        <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
          <p class="card-text">Rating <%= medium.rating %></p>
        </div>
      </a>
        <!-- the and sign is the safe navigator operator, only runs if what comes before is not nil -->
        <% image_tag = medium.watches.first&.favourite ? "diamond-heart-filled" : "diamond-heart-empty" %>
        <%= link_to cl_image_tag(image_tag), like_path(medium), id: "#{medium.id}" , class: "btn button-favorite position-absolute" %>
      </div>
    <% end %>
  </div>
  </div>
  <div class= "mt-2">
    <h1 class= "ml-3 mt-3 mb-3" style="text-align: center"><strong>SERIES</strong></h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        <% media = Medium.where(media_type: "tv") %>
        <% media.sample(4).each do |medium| %>
        <div class="movieposter">
          <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
          <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
          <p class="card-text">Rating <%= medium.rating %></p>
        </div>
          </a>
            <% image_tag = medium.watches.first&.favourite ? "diamond-heart-filled" : "diamond-heart-empty" %>
            <%= link_to cl_image_tag(image_tag), like_path(medium), id: "#{medium.id}" , class: "btn button-favorite position-absolute" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
<h1 class="mt-5" style="text-align: center;"><strong>YOUR RECOMMENDATIONS of the day</strong></h1>

<!--      <button type="button" class="btn btn-outline-spacegreen">Rate Me</button> -->
