<div class="container d-flex">
  <div class= "mt-2">
    <h1 class= "ml-3 mt-3 mb-3" style="text-align: center"><strong>MOVIES</strong></h1>
  <div class="container d-flex flex-row flex-wrap justify-content-center">
    <% @media.sample(4).each do |medium| %>
    <div class="movieposter position-relative">
      <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
        <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
          <p class="card-text">Rating <%= medium.rating %></p>
        </div>
      </a>
        <!-- the and sign is the safe navigator operator, only runs if what comes before is not nil -->
        <% image_tag = medium.watches.first&.favourite ? "pictograms/diamond-heart-filled" : "pictograms/diamond-heart-empty" %>
        <%= link_to cl_image_tag(image_tag), like_path(medium), { :id => "#{medium.id}", :class => "button-favorite position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'favorite' }  %>
        <% image_tag = medium.watches.first&.watchlist ? "pictograms/watchlist-filled" : "pictograms/watchlist-empty" %>
        <%= link_to cl_image_tag(image_tag), watchlist_path(medium), { :id => "#{medium.id}", :class => "button-watchlist position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'watchlist' } %>
      </div>
     <!--  tippy.js -->
    <% end %>
  </div>
  </div>
  <div class= "mt-2">
    <h1 class= "ml-3 mt-3 mb-3" style="text-align: center"><strong>SERIES</strong></h1>
    <div class="container d-flex flex-row flex-wrap justify-content-center">
        <% media = Medium.where(media_type: "tv") %>
        <% media.sample(4).each do |medium| %>
        <div class="movieposter position-relative">
          <a class="card px-0 m-1 border-0" style="text-decoration:none" href="<%= medium_path(medium) %>">
          <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
          <p class="card-text">Rating <%= medium.rating %></p>
        </div>
          </a>
            <% image_tag = medium.watches.first&.favourite ? "pictograms/diamond-heart-filled" : "pictograms/diamond-heart-empty" %>
            <%= link_to cl_image_tag(image_tag), like_path(medium), { :id => "#{medium.id}", :class => "button-favorite position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'favorite' } %>
            <% image_tag = medium.watches.first&.watchlist ? "pictograms/watchlist-filled" : "pictograms/watchlist-empty" %>
            <%= link_to cl_image_tag(image_tag), watchlist_path(medium), { :id => "#{medium.id}", :class => "button-watchlist position-absolute", 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => 'watchlist' } %>
          </div>
        <% end %>
      </div>
  </div>
</div>
<h1 class="mt-5" style="text-align: center;"><strong>YOUR RECOMMENDATIONS of the day</strong></h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
  <% @recommended.sample(8).each do |medium| %>
    <div class="movieposter position-relative">
      <% path = media_path + "?tmdb_id=#{medium.tmdb_id}&media_type=#{medium.media_type}"%>
      <%= link_to(path, method: :post, class: "card px-0 m-1 border-0", style: "") do %>
        <img class="card-img-top" style="height: 300px; object-fit: cover;" src="<%= medium.poster %>">
        <div class="popup">
          <p class="card-title"><%= medium.title %></p>
          <p class="card-text">Rating <%= medium.rating %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<!--      <button type="button" class="btn btn-outline-spacegreen">Rate Me</button> -->
