<div class="container d-flex">

<div class="card col-5 justify-content-center align-items-center" style="background-color: #0B0C10;">
  <div class="container d-flex flex-row flex-wrap" style="height:500px;">

  <img class="card-img-top mt-4" style="height: 300px; object-fit: cover;"
  style="
    border-style: none;
    border-radius: 5px;
      "
  src="
      <% if current_user.photo.blank? %>
        https://clipartart.com/images/login-background-images-clipart-1.jpg
      <% else %>
        <%= cl_image_path current_user.photo.key, width: 250, height: 300, crop: :fill%>
      <% end %>
      " />


  <div class="mt-4">
    <p><%= current_user.bio %></p>
    <br>
    <br>
    <br>

  </div>
</div>
</div>
  <div class="profile-info col-5 justify-content-center align-items-center mt-3">
    <h1><%= current_user.first_name + current_user.last_name%></h1>
    <h2>== Recently Seen ==</h2>
    <br>


  </div>

  <div class="links col-2 justify-content-column align-items-center mt-4">
    <%= link_to "Go to My Watchlist", "watchlist", class: "btn btn-outline-spacegreen" %>
    <%= link_to "Edit Profile", "users/edit", class: "btn btn-outline-spacegreen" %>
  </div>
</div>
