<%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>

<div class="justify-content-around">
  <div class="card">
    <%= link_to "Settings", "#", class: "" %>
    <%= link_to "Settings", "#", class: "" %>
    <%= link_to "Settings", "#", class: "" %>
    <%= link_to "Settings", "#", class: "" %>
  </div>
  <div class="container">
    asadsadsa
  </div>
</div>
