<div class="container">
  <div class="row d-flex mt-4">
    <div class="card col-5 align-items-center" style="background-color: #0B0C10;">
      <div class="card-profile">
      <img class="card-img-top" src="
          <% if current_user.photo.blank? %>
            https://clipartart.com/images/login-background-images-clipart-1.jpg
          <% else %>
            <%= cl_image_path current_user.photo.key, width: 250, height: 300, crop: :fill%>
          <% end %>
          " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">BIO</h5>
          <p class="card-text"><%= current_user.bio %></p>
          <%= link_to "Edit Profile", "users/edit", class: "btn btn-outline-spacegreen" %>
        </div>
      </div>
    </div>
    <div class="profile-info col-7 justify-content-center align-items-center">
      <div class="d-flex w-100 justify-content-between mb-3">
      <h1><%= current_user.first_name + current_user.last_name%></h1>
      <%= link_to "Go to My Watchlist", "watchlist", class: "btn btn-outline-spacegreen d-flex align-items-center" %>
      </div>

      <h2> Recently seen </h2>
      <div class="row mt-3 mb-3">
        <% if @seen %>
          <% @seen.each do |watch| %>
          <div class="col-3">
          <%= render "profile_card", watch: watch %>
          </div>
          <% end %>
        <% end %>
      </div>
      <h2> My favourites </h2>
      <div class="row mt-3">
        <% if @favourites %>
          <% @favourites[0..3].each do |watch| %>
          <div class="col-3">
          <%= render "profile_card", watch: watch %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


