<div class="container" style="margin-top: 50px">
  <div class="d-flex border">
      <div class="card-trip rounded" style="width: -webkit-fill-available;">
          <img class="card-img-top" src="<%= @medium.poster %>" style="height: 100%;">
      </div>
      <div class="card-trip-infos border">
        <div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h1 class="card-title"><%= @medium.title %></h1>
              <div class="text-right">
              <p class="card-text">Rating: <%= @medium.rating %></p>
              <p class="card-text"><small class="text-muted">Time: <%= @medium.runtime %> minutes</small></p>
              </div>
            </div>
            <p class="card-text">Language: <%= @medium.language %></p>
            <p class="card-text">Genres: <%= @medium.genres.join(", ") %></p>
            <p class="card-text"><%= @medium.description %></p>
            <p class="card-text">First Air Date <%= @medium.first_air_date %></p>
          </div>
        </div>
      </div>

  </div>
</div>
