<%= link_to cl_image_tag("pictograms/arrow-left-green"), url_for(:back), class: "backbutton position-absolute mt-3 ml-3"%>
<div class="container" style="margin-top: 50px">
  <div class="d-flex border">
    <div class="card-trip rounded" style="width: 350px;">
        <img class="card-img-show" src="<%= @medium.poster %>">
    </div>
      <div class="card-trip-infos border p-3">
        <div style="height: 92%;">
          <div class="card-body pl-0">
            <div class="d-flex justify-content-between relativdiv">
              <div class="d-flex">
                <div class="flex-column" style="margin-top: -11px;">
                  <div class="">
                  <h1 class="card-title"><%= @medium.title %> <% image_tag = Watch.find_by(user: current_user, medium: @medium)&.favourite ? "pictograms/diamond-heart-purplebright" : "pictograms/diamond-heart-empty" %>
                  <small> ( <%=@medium.first_air_date.strftime("%Y") if @medium.media_type !="tv" %>
                  <%= @medium.first_air_date.strftime("%Y") + " - " + @medium.last_air_date.strftime("%Y") + " " if  @medium.media_type =="tv" %>)</small>
                  <%= link_to cl_image_tag(image_tag), like_path(@medium, show: true), { :id => "#{@medium.id}", :class => "button-favorite mr-2", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'favorite' } %></h1>
                  </div>
                  <div class="d-flex" style="max-width: 620px; font-size: 13px;">
                    <div class="card-text" class="text-muted">
                      <div class="d-flex" style="margin-bottom: -9px;">
                        <p id="duration" class= "mr-1", data-toggle="tooltip", data-placement= "bottom", title= "duration"><%= cl_image_tag("pictograms/clock-gray") %> <%= @medium.runtime %> min</p>
                        <p id="genre" class="ml-2 mr-1", data-toggle="tooltip", data-placement= "bottom", title= "genre"><%= cl_image_tag("pictograms/masks-gray") %> <%= @medium.genres.join(", ") %></p>
                        <p id="seasons" class="ml-2 mr-1", data-toggle="tooltip", data-placement= "bottom", title= "seasons"><%= cl_image_tag("pictograms/tv-gray") if @medium.total_seasons %> <%= @medium.total_seasons if @medium.total_seasons %></p>
                      </div>
                      <div class="d-flex" style="margin-left: -5px;">
                      <p id="language" class="ml-2 mr-1", data-toggle="tooltip", data-placement= "bottom", title= "language"><%= cl_image_tag("pictograms/language-gray") %> <%= @medium.language %></p>
                      <p id="origin" class="ml-2 mr-1", data-toggle="tooltip", data-placement= "bottom", title= "origin"><%= cl_image_tag("pictograms/globe-gray") %> <%= @medium.origin_countries.join(", ") %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-right rating-section">
                <p class="card-text">Watchbuddy <img src="https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" alt="star"> <%= @medium.rating %></p>
                <p class="card-text">Buddys <img src="https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" alt="star"> <%= @medium.rating %></p>
                <div class="d-flex justify-content-end">
                  <span id="yourtag"><p class="card-text", data-toggle="tooltip", data-placement= "bottom", title= "Rate Me">Your <img id="your-rating" src="<%= !@watch.nil? && @watch.rating ? "https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" : "https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-empty.png" %>" alt="star"></p></span><p id="ratingnum"> <%= !@watch.nil? && @watch.rating ? @watch.rating : "--" %></p></span>
                </div>
              </div>
                <div class="rating-popup d-none">
                  <div class="d-flex flex-column align-items-center">
                    <label for="ratingslide">Your Rating</label>
                    <p id="rating" class="mb-1"><%= @medium.rating %></p>
                    <input type="range" class="form-control-range" min="0" max="10" value="<%= @medium.rating %>" step="0.1" id="ratingslide">
                    <textarea type="text" cols="5" rows="5" id="ratingdesc" maxlength="200" placeholder="Your review..."></textarea>
                    <%= link_to "Rate", rate_path(@medium, show: true), id: "#{@medium.id}" , class: "btn my-2 btn-outline-spacegreen ratebtn" %>
                  </div>
                </div>
            </div>
          </div>

            <% @medium.description.length > 500 ? dots = "..." : dots = ""  %>
            <p class="card-text"><%= @medium.description.slice(0..500) + dots %></p>
          </div>
          <div class="d-flex pictograms">
            <% image_tag = Watch.find_by(user: current_user, medium: @medium)&.watchlist ? "pictograms/watchlist-filled-metallic" : "pictograms/watchlist-empty" %>
            <%= link_to cl_image_tag(image_tag), watchlist_path(@medium, show: true), { :id => "#{@medium.id}", :class => "button-watchlist mr-2", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'watchlist' }  %>
            <% tick_image_tag = Watch.find_by(user: current_user, medium: @medium)&.seen ? "pictograms/tick-filled" : "pictograms/tick-empty" %>
            <%= link_to cl_image_tag(tick_image_tag), seen_path(@medium, show: true), { :id => "#{@medium.id}", :class => "button-tick", 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', :title => 'seen' } %></div>
          </div>
  </div>
  <div class="col-12 justify-content-center align-items-center mt-4 pl-0">
    <div class="name d-flex w-100 justify-content-between mb-3">
      <h3>Latest reviews</h3>
    </div>
    <div class="row mt-3 mb-3">
      <%# if @review %>
      <% if @medium.watches %>
        <% @medium.watches.each do |watch| %>
          <% if watch.description %>
            <div class="card-review col-4 mt-3 mb-3 mr-4 ml-3">
              <div class="text">
                <div class="rating"><img src="https://res.cloudinary.com/g385/image/upload/v1598863329/Pictograms/star-filled.png" alt="star"> <%= watch.rating %></div>
                <p ><i>"<%= watch.description %>"</i></p>
                <div class="name"><%= watch.user.first_name + " " + watch.user.last_name %></div>
                <img class="avatar" src="
                <% if current_user.photo.blank? %>
                  https://clipartart.com/images/login-background-images-clipart-1.jpg
                <% else %>
                <%= cl_image_path current_user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face %>
                <% end %>
                " />
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
