<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="d-flex align-items-center">
    <%= link_to root_path, class: "navbar-brand d-flex" do %>
      <img src="https://img.icons8.com/nolan/64/retro-tv.png" alt="icon" class="mb-1">
      <h2 class="brand mr-3 pb-0 ml-1 mt-2">WatchBuddy</h2>
    <% end %>
  </div>
  <div class="position-relative searchbardiv">
    <input type="text" id="search-media" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Search titles...">
    <!-- <button type="button">Search</button> -->
    <div>
      <ul id="results" class="dropdown-menu" data-tmdb-api-key="<%= ENV['TMDB_KEY'] %>"></ul>
    </div>
    <template>
      <%= form_with url: media_path, class: "media-form" do |form| %>
        <button>
          <li class="list-inline-item card p-2">
            <div class="d-flex liwrap">
            <img src="" alt="No img available">
            <div class="justify-content-start">
              <h5 id="media-name" class="ml-2"></h5>
              <p id="media-date" class="ml-2 mb-0"></p>
              <p id="media-rating" class="ml-2 mb-0"></p>
            </div>
          </div>
          </li>
          <%= form.hidden_field :tmdb_id, value: '' %>
          <%= form.hidden_field :media_type, value: '' %>
        </button>
      <% end %>
    </template>
  </div>
  <div class="nav links">
    <div class="d-flex align-items-center">
      <li class="active">
        <%= link_to "Find Buddies", users_path, class: "mr-3 pb-0" %>
        <%= link_to "My Favourites", profile_favourites_path, class: "mr-3 pb-0" %>
        <%= link_to "My Buddies", profile_buddies_path(current_user), class: "mr-3 pb-0" %>

      </li>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <li class="nav-item dropdown">
          <img  class="avatar dropdown-toggle"
                id="navbarDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                src="
                 <% if current_user.photo.blank? %>
                    https://clipartart.com/images/login-background-images-clipart-1.jpg
                 <% else %>
                    <%= cl_image_path current_user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face %>
                 <% end %>
                " />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Settings", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
 </div>

