<!DOCTYPE html>
<html>
  <head>

  <!--Decodierugs Typ-->
	<meta charset="utf-8">

<!--Für zb Google als Suchmaschinen Tags-->
	<title>Watchbuddy</title>
	<meta name="description" content="Your Buddy for keeping track of your viewing history and getting sweet recommendations for new things to see">

<!--Für zb facebook als Suchmaschinen open graph Tags-->

  <meta property="og:site_name" content="Watchbuddy">
  <meta property="og:title" content="Watchbuddy | Webservice">
  <meta property="og:description" content="Your Buddy for keeping track of your viewing history and getting sweet recommendations for new things to see"> <!-- ˜300 chars -->
  <!--<meta property="og:locale" content="es_AR">-->
  <meta property="og:type" content="webservice">
  <meta property="og:url" content="http://www.watchbuddy.club/">
  <meta property="og:image" content="https://res.cloudinary.com/g385/image/upload/v1599125246/Pictograms/retro-tv-250px.jpg"> <!-- 200x200px - 1200x1200px -->

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <link rel="icon" type="image/png" href="https://img.icons8.com/nolan/64/retro-tv.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class ="body">
    <div id="content-wrap">
      <%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>
      <%= yield %>
    </div>
       <%= render 'shared/flashes' %>
    <div class="footer">
      <%= render "../views/footer" %>
    </div>
  </body>
</html>
