<!DOCTYPE html>
<html>
  <head>
    <title>Watchbuddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <link rel="icon" type="image/png" href="https://img.icons8.com/nolan/64/retro-tv.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class ="body">
    <div id="content-wrap">
      <%= render user_signed_in? ? "../views/navbar_loggedin" : "../views/navbar_notloggedin" %>
      <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <div class="footer">
      <%= render "../views/footer" %>
    </div>
  </body>
</html>
